@import 'bootstrap/scss/bootstrap';

:root {
  --pa-body-color: #074e5e;
  --pa-primary-color: #0fadd0;
  --pa-primary-bg-subtle: #caebf2;
}

body {
  background-color: var(--bs-secondary-bg);
}

@font-face {
  font-family: 'Luckiest Guy';
  src: url(/fonts/LuckiestGuy-Regular.ttf);
}

/* 表单 */
.form-control {
  margin-bottom: calc(0.25rem + 1.5rem);
  &.is-invalid {
    margin-bottom: 0;
  }
}